# python program to print the below pattern using for loop as or while loop

In [37]:
#a
#rows
for i in range(1,6):
    #columns
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [28]:
#b
for i in range(5):
    for j in range(i+1):
        print(j+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [43]:
#c
#rows
for i in range(1,6):
    #columns
    for j in range(6,i,-1):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [45]:
#d
#rows
for i in range(5,0,-1):
    #columns
    for j in range(0,i):
        print("5",end=" ")
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [72]:
#e
for i in range(5,0,-1):
    for j in range(0,i+1):
        print(j,end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [73]:
#f
#rows
for i in range(1,10,2):
    #columns
    for j in range(1,i+1,2):
        print(i,end=" ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [75]:
#g
#rows
for i in range(5,0,-1):
    #columns
    for j in range(i,0,-1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [52]:
#h
for i in range(5):
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [77]:
#i
for i in range(5):
    for j in range(5,i,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [20]:
#j
x=1
y=2
a=y
for i in range(2,6):
    for j in range(x,y):
        a-=1
        print(a,end=" ")
    print()
    x=y
    y+=i
    a=y

1
3 2
6 5 4
10 9 8 7

In [2]:
#k
for i in range(7,1,-1):
    z=1
    for y in range(1,7):
        if i>y:
            print(" ",end=" ")
        else:
            print(z,end=" ")
            z+=1
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [7]:
#l
num=1
for i in range(7):
    for j in range(i-1):
        print(num,end=" ")
        num=num*(i-j)//(j+1)
    print()
    #need to work on this

1
2 6
6 24 36
24 120 240 240
120 720 1800 2400 1800

In [10]:
#m
for i in range(1,6):
    for j in range(1,6):
        if j<=i:
            print(i,end=" ")
        else:
            print(j,end=" ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [14]:
#n
for n in range(1,9):
    i=1
    while i<=n:
        print((n*i),end=" ")
        i=i+1
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [15]:
#o
o = 5
for i in range(1,o+1):
    print('* '*i)
print( )

*
* *
* * *
* * * *
* * * * *

In [16]:
#p
n = 5
for i in range(n):
    for j in range(n - i - 1):
        print(" ", end=" ")
    for k in range(i + 1):
        print("*", end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [17]:
#q
o = 1
for i in range(n):
    print('* '*(n-i))
print( )

* * * * *
* * * *
* * *
* *
*

In [19]:
#r
n = 7
for i in range(n-1):
    print(' '*(i+1)+'* '*(n-i-1))

 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [21]:
#s
for i in range(0,6):
    print(' '*i,end="")
    for j in range(5,i,-1):
        print("*",end="")
    print()

*****
 ****
  ***
   **
    *

In [26]:
#t
for i in range(7,0,-1):
    print(' '*i,end="")
    for j in range(8,i,-1):
        print("*",end=" ")
    print()

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [30]:
#u
for i in range(1,8):
    #columns
    for j in range(1,i+1):
        print("*",end=" ")
    print() 
print()

for i in range(1,8):
    #columns
    for j in range(8,i,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [33]:
#v
for i in range(1,6):
    #columns
    for j in range(1,i+1):
        print("*",end=" ")
    print() 

for i in range(1,5):
    #columns
    for j in range(5,i,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [58]:
#w
for i in range(6,1,-1):
    print(" "*i,end="")
    for j in range(7,i,-1):
        print("*",end="")
    print() 

for i in range(1,6):
    print(" "*i,end=" ")
    for j in range(5,i-1,-1):
        print("*",end="")
    print()

      *
     **
    ***
   ****
  *****
  *****
   ****
    ***
     **
      *

In [64]:
#x
n = 6
for i in range(n-1):
    print(' '*(i+1)+'* '*(n-i-1))
    
for i in range(5,0,-1):
    print(' '*i,end="")
    for j in range(6,i,-1):
        print("*",end=" ")
    print()

 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *

In [53]:
#y
for i in range(6,1,-1):
    print(" "*i,end="")
    for j in range(7,i,-1):
        print("*",end=" ")
    print() 

#for lower half
for i in range(1,6):
    print(" "*i,end=" ")
    for j in range(5,i-1,-1):
        print("*",end=" ")
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [74]:
#z
rows = 5

for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for j in range(2 * i + 1):
        if j==0 or j==2*i:
            print("*",end="")
        else:
            print(' ',end="")
    print()
    
# for lower half
for i in range(rows):
    for j in range(i):
        print(" ", end="")
    for j in range(2*(rows-i)-1):
        if j==0 or j==2*(rows-i)-2:
            print("*",end="")
        else:
            print(' ',end="")
    print()

    *
   * *
  *   *
 *     *
*       *
*       *
 *     *
  *   *
   * *
    *